body {
  padding: 0;
  text-align: center;
}

canvas {
  /* width: 1024;
  height: 768; */
   border: 1px solid black;
}



xxx {
font-family: 'Shrikhand', cursive;
font-family: 'Barrio', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Faster One', cursive;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}

#background-img {
  display: none;
}

#car-img {
  display: none;
}
